<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793038-Jonathan_Garza/blob/main/Actividad_de_semana_1-2_Python_for_Data_Science_Jonathan_Garza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Módulo 1: Python Basics**

El primer programa en Python the Jonathan

In [ ]:
#Primer Programa de Jonathan - Esta línea no se ejecutará porque es un comentario
print('Hola Mundo')

#La siguiente línea imprimirá en pantalla la misma frase, pero con un salto de línea:
print("Hello\nWorld")

Hola Mundo
Hello
World

Tipos de Datos

In [ ]:
#Importar módulo de información del sisteme
import sys

#Versión de Python
print(sys.version)

# String
tipo_string=type('Hola Mundo')

print(tipo_string)

#Integer

tipo_integer=type(1)

print(tipo_integer)

#Float
tipo_float=type(1.1)

print(tipo_float)

#Bool

tipo_bool=type(True);

print(tipo_bool)

#Cambio de tipo de datos ¿Un número siempre es un número?

#String
tipo_actual=type('1')

print(tipo_actual)

#Cambio a Integer

tipo_actual=type(int('1'))

print(tipo_actual)

#Cambio a Float

tipo_actual=type(float('1'))

#¿Cual es el número más grande y pequeño que se puede representar por el sistema?
print(sys.float_info)

print(tipo_actual)

#Cambio a bool

tipo_actual=type(bool(int('1')))

print(tipo_actual)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>
sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)
<class 'float'>
<class 'bool'>

Expresiones y Variables

In [ ]:
#Suma
print(1+2)

#Resta
print(1-2)

#Multiplicación
print(2*3)

#División
print(3/2)

#División de Enteros (sólo se entrega el resultado entero de la operación)
print(3//2)

#Operaciones matemáticas: primero se realizan las multiplicaciones o divisiones y luego las sumas o restas
print(3*2+1)

#Variables: asignación
x=2

#Operaciones con variables
y=x*2+1
print(y)

3
-1
6
1.5
1
7
5

Operaciones con String

In [ ]:
#Crear un string y asignarlo a una variable
Letras='ABCDEFGHIJK'
print(Letras)

#Desplegar los primeros cuatro elementos del string
Letras[0:4]

#Crear un string y desplegar sus elementos en incrementos de 2
Good='GsoAo+d'
print(Good)
print(Good[::2])

#Cambiar de minúsculas a mayúsculas
print('mayusculas')
print('mayusculas'.upper())

#Cambiar de mayúsculas a minúsculas
print('MINUSCULAS')
print('MINUSCULAS'.lower())

#Sumar o concatenar strings
print('Soy'+' Jonathan')

#Multiplicación de Strings
print(3*'Jonathan')

#Encontrar un elemente de un String
'Jonathan'.find('t')

#Despleagar los elementos pares
Numbers = "0123456"
print(Numbers[::2])

#Uso de índices negativos (la cuenta empieza del final al principio)
Nombre='Jonathan'
print(Nombre[-8])

#Secuencias de escape en strings
#Nueva línea
print("Michael Jackson \n is the best" )

#Tab
print("Michael Jackson \t is the best" )

#Incluir diagonal invertida en el string
print("Michael Jackson \\ is the best" )

# r indica a Python que el string se deplegará tal cual incluyendo la diagonal invertida
print(r"Michael Jackson \ is the best" )

#Reemplazar un sub-string por otro
a='Michael Jackson'
b=a.replace('Michael','Janet')
print(b)

ABCDEFGHIJK
GsoAo+d
Good
mayusculas
MAYUSCULAS
MINUSCULAS
minusculas
Soy Jonathan
JonathanJonathanJonathan
0246
J
Michael Jackson
 is the best
Michael Jackson 	 is the best
Michael Jackson \ is the best
Michael Jackson \ is the best
Janet Jackson

**Módulo 2:Phyton Data Structures**

Listas y Tuples

In [8]:
#Crear un tuple y asignarlo a una variable
A=(1,2,3,4)
print(A)

#Despliega los dos primeros elementos del tuple
print(A[0:2])

#Crear una Lista
B=['a','b','c']
print(B)

#Despliega los dos primeros elementos de la lista
print(B[0:2])

#Cambia el primer elemeta de B por una 'A' mayúscula
B[0] = 'A'
print(B)

#Desplegar el último elemento de la lista de dos formas
print(B[2])
print(B[-1])

#Desplegar todos los elementos de la lista a partir del segundo
print(B[1:])

(1, 2, 3, 4)
(1, 2)
['a', 'b', 'c']
['a', 'b']
['A', 'b', 'c']
c
c
['b', 'c']

Tuples

In [42]:
#Crear un tuple con integer, float y string
tuple1 = ("disco",10,1.2 )
print(tuple1)

#El tipo de la variable es tuple
type(tuple1)

#Despliega la variable en cada índice
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

#Despliega el tipo de variable de cada elemento del tuple
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

#También se pueden usar índices negativos
print(tuple1[-3])
print(tuple1[-2])
print(tuple1[-1])

#Sumar o concatenar tuples
tuple2 = tuple1 + ("hard rock", 10)
print(tuple2)

# Desplegar tuple desde el índice 0 al 2
print(tuple2[0:3])

# Desplegar tuple desde el índice 3 al 5
print(tuple2[3:5])

#Obtener la longitud del tuple
print(len(tuple2))

#Crear un tuple con enteros
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
print(Ratings)

#Ordenar el tuple
RatingsSorted = sorted(Ratings)
print(RatingsSorted)

#Crear un tuple anidado
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print(NestedT)

#Deplegar los elementos del tuple anidado
print("Elemento 0 del Tuple: ", NestedT[0])
print("Elemento 0 del Tuple: ", NestedT[1])
print("Elemento 0 del Tuple: ", NestedT[2])
print("Elemento 0 del Tuple: ", NestedT[3])
print("Elemento 0 del Tuple: ", NestedT[4])

#Deplegar los elementos de los tuples anidados
print("Elemento 2, 0 del Tuple: ", NestedT[2][0])
print("Elemento 2, 1 del Tuple: ", NestedT[2][1])
print("Elemento 3, 0 del Tuple: ", NestedT[3][0])
print("Elemento 3, 1 del Tuple: ", NestedT[3][1])
print("Elemento 4, 0 del Tuple: ", NestedT[4][0])
print("Elemento 4, 1 del Tuple: ", NestedT[4][1])

#Desplegar el primer elemento del segundo tuple anidado en el tercer elemento
print(NestedT[2][1][0])

#Desplegar el segundo elemento del segundo tuple anidado en el tercer elemento
print(NestedT[2][1][1])

#Desplegar el todo elemento del segundo tuple anidado en el tercer elemento
print(NestedT[2][0])

#Desplegar el todo elemento del segundo tuple anidado en el tercer elemento
print(NestedT[2][1])

#Desplegar el primer elemento del segundo tuple anidado en el cuarto elemento
print(NestedT[4][1][0])

#Desplegar el segundo elemento del segundo tuple anidado en el cuarto elemento
print(NestedT[4][1][1])

#Crear un tuple para los géneros
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
print(genres_tuple)

#Determinar la longitud del tuple de géneros
len(genres_tuple)

#Desplegar el elemento del índice 3:
print(genres_tuple[3])

#Desplegar los elementos 3, 4 and 5:
print(genres_tuple[3:6])

#Desplegar los elementos 1 y 2:
print(genres_tuple[0:2])

#Encontrar el primer índice de 'disco'
print(genres_tuple.index('disco'))

#Generar un tuple y luego crear una lista ordenada a partir de este
C_tuple=(4,7,3,9,1,0)
print(C_tuple)
lista_ordenada = sorted(C_tuple)
print(lista_ordenada)

('disco', 10, 1.2)
disco
10
1.2
<class 'str'>
<class 'int'>
<class 'float'>
disco
10
1.2
('disco', 10, 1.2, 'hard rock', 10)
('disco', 10, 1.2)
('hard rock', 10)
5
(0, 9, 6, 5, 10, 8, 9, 6, 2)
[0, 2, 5, 6, 6, 8, 9, 9, 10]
(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))
Elemento 0 del Tuple:  1
Elemento 0 del Tuple:  2
Elemento 0 del Tuple:  ('pop', 'rock')
Elemento 0 del Tuple:  (3, 4)
Elemento 0 del Tuple:  ('disco', (1, 2))
Elemento 2, 0 del Tuple:  pop
Elemento 2, 1 del Tuple:  rock
Elemento 3, 0 del Tuple:  3
Elemento 3, 1 del Tuple:  4
Elemento 4, 0 del Tuple:  disco
Elemento 4, 1 del Tuple:  (1, 2)
r
o
pop
rock
1
2
('pop', 'rock', 'soul', 'hard rock', 'soft rock', 'R&B', 'progressive rock', 'disco')
hard rock
('hard rock', 'soft rock', 'R&B')
('pop', 'rock')
7
(4, 7, 3, 9, 1, 0)
[0, 1, 3, 4, 7, 9]

Listas

In [57]:
# Crear una lista
L = ["Michael Jackson", 10.1, 1982]
print(L)

#Desplegar los elementos de la lista usando los dos tipos de índices
print('El mismo elemento usando índices postivos y negativos:\n Postivo:',L[0],
'\n Negativo:' , L[-3]  )
print('El mismo elemento usando índices postivos y negativos:\n Postivo:',L[1],
'\n Negativo:' , L[-2]  )
print('El mismo elemento usando índices postivos y negativos:\n Postivo:',L[2],
'\n Negativo:' , L[-1]  )

#Las listas pueden contener varios elementos: integer, floats, string, listas, tuples

#Operaciones con listas, obtener los elementos usando los índices
L = ["Michael Jackson", 10.1,1982,"MJ",1]
print(L)

#Desplegar los elementos del índice 3 al 5
print(L[3:5])

#Añadir dos elementos adiconales a la lista
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
print(L)

#Añadir una lista anidada:
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
print(L)

# Cambiar un elemento usando los índices
A = ["disco", 10, 1.2]
print('Antes del cambio:', A)
A[0] = 'hard rock'
print('Después del cambio:', A)

# Eliminar un elemento usando los índices
print('Antes del cambio:', A)
del(A[0])
print('Después del cambio:', A)

# Crear una lista dividiendo un string, por defecto se usan los espacios
A='hard rock'
print(A)
print(A.split())

# Crear una lista dividiendo un string, usando comas
A='A,B,C,D'
print(A)
print(A.split(','))

#Cuando se copia una lista en otra variable, ambas listas están referenciadas a la misma región en memoria
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

#Si se cambia un elemento en una, se cambia también en la otra
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

#Para evitar esto, se puede clonar una lista en vez de copiarla
B = A[:]
print(B)
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

#Crear una lista con los siguientes elementos 1, hello, [1,2,3] and True
Lista=[1, 'hello', [1,2,3],True]
print(Lista)

#Desplegar los elementos de los índices 1, 2 y 3 de la lista
print(Lista[1:4])

#Concatenar las dos listas A = [1, 'a'] and B = [2, 1, 'd']
A = [1, 'a']
print(A)
B = [2, 1, 'd']
print(B)
#Primera opción
A=A+B
print(A)
#Segunda opción
A = [1, 'a']
print(A)
B = [2, 1, 'd']
print(B)
A.extend(B)
print(A)

['Michael Jackson', 10.1, 1982]
El mismo elemento usando índices postivos y negativos:
 Postivo: Michael Jackson
 Negativo: Michael Jackson
El mismo elemento usando índices postivos y negativos:
 Postivo: 10.1
 Negativo: 10.1
El mismo elemento usando índices postivos y negativos:
 Postivo: 1982
 Negativo: 1982
['Michael Jackson', 10.1, 1982, 'MJ', 1]
['MJ', 1]
['Michael Jackson', 10.2, 'pop', 10]
['Michael Jackson', 10.2, ['pop', 10]]
Antes del cambio: ['disco', 10, 1.2]
Después del cambio: ['hard rock', 10, 1.2]
Antes del cambio: ['hard rock', 10, 1.2]
Después del cambio: [10, 1.2]
hard rock
['hard', 'rock']
A,B,C,D
['A', 'B', 'C', 'D']
A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]
B[0]: hard rock
B[0]: banana
['banana', 10, 1.2]
B[0]: banana
B[0]: banana
[1, 'hello', [1, 2, 3], True]
['hello', [1, 2, 3], True]
[1, 'a']
[2, 1, 'd']
[1, 'a', 2, 1, 'd']
[1, 'a']
[2, 1, 'd']
[1, 'a', 2, 1, 'd']

Sets

In [74]:
#Transformar una lista a set
A=set(['A','B','C','A','B','C'])
print(A)

#Añadir un elemento string al set
A.add('D')
print(A)

#Intersección entre dos sets método 1
A={1,2,3,4,5}
B={1,3,9, 12}
print(A)
print(B)
C=A&B
print(C)

#Intersección entre dos sets método 2
A={1,2,3,4,5}
B={1,3,9, 12}
print(A)
print(B)
C=A.intersection(B)
print(C)

#Verificar si un elemento se encuentra en el set
A={1,2,3,4,5}
print(1 in A)

#Quitar un elemento del set
A={1,2,3,4,5}
print(A)
A.remove(1)
print(A)

#Se pueden encontrar los elementos contenidos en únicamente en un set usando el método de la diferencia
#Método 1
A={1,2,3,4,5}
B={1,3,9, 12}
print(A)
print(B)
C=A-B
print(C)
#Método 2
A={1,2,3,4,5}
B={1,3,9, 12}
print(A)
print(B)
C=A.difference(B)
print(C)

#Misma operación, pero cambiando el orden. Se encuentran los elementos únicos del otro set
#Método 1
A={1,2,3,4,5}
B={1,3,9, 12}
print(A)
print(B)
C=B-A
print(C)
#Método 2
A={1,2,3,4,5}
B={1,3,9, 12}
print(A)
print(B)
C=B.difference(A)
print(C)

#Unión o suma de dos sets
A={1,2,3,4,5}
B={1,3,9, 12}
print(A)
print(B)
C=A.union(B)
print(C)

#Determinar si un set es subset o superset:
print(A.issubset(C))
print(A.issuperset(C))

#Comparacion de sumas de sets y listas; las listas suman los valores de todos los elementos, los sets solo los elementos no repetidos
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print(A)
print(B)
print('La suma de A es:', sum(A))
print('La suma de B es:', sum(B))

{'A', 'C', 'B'}
{'A', 'D', 'C', 'B'}
{1, 2, 3, 4, 5}
{1, 3, 12, 9}
{1, 3}
{1, 2, 3, 4, 5}
{1, 3, 12, 9}
{1, 3}
True
{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 3, 12, 9}
{2, 4, 5}
{1, 2, 3, 4, 5}
{1, 3, 12, 9}
{2, 4, 5}
{1, 2, 3, 4, 5}
{1, 3, 12, 9}
{9, 12}
{1, 2, 3, 4, 5}
{1, 3, 12, 9}
{9, 12}
{1, 2, 3, 4, 5}
{1, 3, 12, 9}
{1, 2, 3, 4, 5, 9, 12}
True
False
[1, 2, 2, 1]
{1, 2}
La suma de A es: 6
La suma de B es: 3

Diccionarios

In [86]:
#Crear un diccionario
D={'a':0,'b':1,'c':2}
print(D)

#Extraer el valor de un key en un diccionario
print(D['b'])

#Extraer todos los keys de un diccionario
print(D.keys())

#Extraer todos los valores de los keys de un diccionario
print(D.values())

#Crear un diccionario con diferente tipo de keys y valores
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
print(Dict)

#Eliminar entradas de un diccionario:
del(Dict[(0,1)])
print(Dict)

#Verifica si un key está presente en un diccionario
print('key2' in Dict)

{'a': 0, 'b': 1, 'c': 2}
1
dict_keys(['a', 'b', 'c'])
dict_values([0, 1, 2])
{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5, (0, 1): 6}
{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5}
True